@using Strasbourg.Domain.ViewModels
@model IQueryable<SMSTemplatesViewModel>
@{
    ViewBag.Title = "Panel | Ditib Strasbourg";
    Layout = "~/Areas/Login/Views/Shared/panel_layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                @using (Html.BeginForm("Send", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <br /><br /><br />
                    //Email

                    <div class="form-group  row">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-11">

                            <h3>SMS Gönder</h3>

                            <br />
                            <select multiple="" class="form-control" id="type" onchange="myselect()">
                                <option value="1">Yeni SMS</option>
                                <option value="2">Şablondan</option>
                            </select>

                            <br />
                        </div>
            
                    </div>
                    <div class="hr-line-dashed"></div>
                    //=================================================

                    //Telefon
                    <div class="form-group  row">
                        <label class="col-sm-1 col-form-label">Telefon : </label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefon" required="">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    //=================================================

                    //Mesaj
                    <div class="form-group  row">
                        <label class="col-sm-1 col-form-label">Mesaj : </label>
                        <div class="col-sm-11" id="new">
                            <input type="text" class="form-control" name="message" id="message" placeholder="Mesaj..." required="">
                        </div>
                        <div class="col-sm-11" id="template" style="display:none;">
                            <select class="form-control" style="width: 100%;" name="message" id="selectmessage" onchange="myselect()">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Message" id="@item.Subject">@item.Subject | @item.SiteLanguage</option>

                                }
                            </select>

                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    //=================================================



                    <div class="form-group row" onload="myselect()">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-danger" type="reset">Temizle</button>
                            <button class="btn btn-success" type="submit">Gönder</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section smssend{
    <script>
        function myselect() {

            var e = document.getElementById("type");
            var select = e.value;

            if (select == "1") {
                document.getElementById("new").style.display = "block";
                document.getElementById("template").style.display = "none";
                document.getElementById("message").setAttribute("name", "message");
                document.getElementById("message").required = true;

            } else {
                document.getElementById("new").style.display = "none";
                document.getElementById("template").style.display = "block";
                document.getElementById("message").required = false;
                document.getElementById("message").required = false;
                document.getElementById("message").setAttribute("name", "disabledmessage");
                var selector = document.getElementById('selectmessage');
 

            }
        }




    </script>

}