
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">Kuruluş ve Teşkilat Yapısı</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />

                <div>
                    <p>Strazburg DİTİB dinî, sosyal, kültürel ve sportif faaliyetleri gerçekleştirmek ve Strazburg bölgesinde kendisine bağlı derneklerin faaliyetlerini koordine etmek amacıyla 1996 yılında 16 dernekle kurulmuş ve bugün bağlı derneklerin sayısı 62’ye ulaşmıştır. Görev bölgesindeki Müslümanların teveccühünü kazanmış büyük bir sivil toplum kuruluşudur.</p>
                    <p>Fransız dernekler yasalarına göre faaliyet göstermektedir. DİTİB’in tüzüğünü, ortak gayeleri ve ilkeleri benimseyen bağlı derneklerimizin üst kuruluşudur. Bağlı derneklerimiz, hukuki ve mali bağımsızlığa sahip tescilli tüzel kişilerdir.</p>
                    <p>DİTİB’in organları; Genel Kurul, Yönetim Kurulu ve Denetleme Kurulundan oluşmaktadır.</p>
                </div>
                <img src="~/Assets/strasbourgpanel/strasbourg/img/organizasyonsemasi.png" width="1200" height="782">

                <br />

            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->
