
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">Vefat Halinde Yapılması Gerekenler</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />
                <p style="text-align: justify;">Cenazenin aile fertleri veya bir yakını tarafından önce DİTİB Merkezi ile (+33 (0) 3 88 330 430) irtibat kurulması ve resmi işlemler için aşağıdaki belgelerin hazırlanarak, görevlendirilen Cenaze Firması temsilcisine teslim edilmesi gerekir.</p>
                <p style="text-align: justify;">
                    <span style="text-decoration: underline;">Bu belgeler şunlardır:</span><br />
                    &#8211; Vefat edenin pasaportu,<br />
                    &#8211; Vefat edenin nüfus cüzdanı,<br />
                    &#8211; Vefat eden evli ise, uluslararası evlenme cüzdanı, evlenme cüzdanı uluslararası değil ise, Fransızca tercümesi,<br />
                    &#8211; Ölüm raporu. Eğer üye evinde vefat ettiyse, aile doktoruna, bu mümkün değilse, nöbetçi doktora haber verilerek rapor alınmalıdır.<br />
                    Yukarıdaki belgelerin herhangi birinin eksikliğinden meydana gelen masraflar, DİTİB Merkezi Derneği tarafından karşılanmaz.
                </p>
                <br />

            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->
