
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">Üyelik Yönergesi</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />



                <p style="text-align: center;"><strong>Strasbourg DİTİB Cenaze Nakli Yardımlaşma Fonu Yönergesi</strong></p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 1: Fon’un Amacı<br />
                    </strong>Fon’un amacı Fransa’da vefat eden üyelerinin cenazelerinin, kendi vasiyetleri veya kanuni yakınlarının isteği üzerine, Türkiye’ye nakledilmesini sağlamak ve bu yönergede öngörülen masrafları karşılamaktır.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 2: Fon Üyeliğine Başvuru Şartları<br />
                        a-
                    </strong> Türk vatandaşı veya çifte vatandaş olmak.<br />
                    <strong>b-</strong> Fransa’da daimi oturum kartıyla ikamet etmek, turist veya ilticacı olmamak. (3 aydır Fransa’da ikamet ettiklerini belgeleyen geçici oturumlular başvurabilirler, ancak onların üyelikleri, kayıt tarihinden 6 ay sonra geçerlilik kazanır.)<br />
                    <strong>c-</strong> Başvuru Formu’nu doğru ve eksiksiz doldurup imzalamak.<br />
                    <strong>d-</strong> Oturum kartının fotokopisini eklemek. Bu fotokopi eş ve çocuklar için de yeterlidir. Ancak anne, baba, kardeş, damat, gelin veya torun gibi diğer yakınlar da aynı forma kaydediliyorsa onların oturum kartlarının fotokopileri de gerekmektedir.<br />
                    <strong>e-</strong> Giriş ücreti miktarınca DİTİB’e bağışta bulunmak. Kişi başına bir defa ödenen ve yaşa göre değişen giriş ücreti şöyledir: <strong>Yaşı 0 ile 19 arası olanlar için 20 €,</strong> 20 ile 30 arası 30 €,<strong> 31 ile 40 arası 50 €,</strong> 41-50 arası 100 €, <strong>51 ile 59 arası 300 €,</strong> 60 ile 69 arası 700 €, <strong>70 ve üzeri 1000 €.</strong><br />
                    <strong>f-</strong> Başvuru formu, oturum kartı fotokopisi ve giriş ücreti D.İ.T.İ.B.’e ulaştırılır. Kayıt işleminden sonra üzerinde aile reisinin üye numarası ve ismi bulunan üye kartı gönderilir. Aile fertlerinin isimleri dosyada bulunur.<br />
                    <strong>g-</strong> Usulüne uygun olmayan veya eksik ya da yanlış yapılan başvurulardan doğan aksaklıklardan fon sorumlu değildir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 3: Fon’dan Yararlanma Tarihi<br />
                        a-
                    </strong> Fon’dan yararlanma hakkı yaşı 0 ile 50 arası olanlar için kayıt tarihinden 3 ay sonra, 51 ve üzeri olanlar ve geçici oturumlular için 6 ay sonra başlar. Bir dosyaya sonradan eklenenlerin bekleme süreleri de aynı esaslara göredir.<br />
                    <strong>b-</strong> Bekleme süresi dolmadan vefat edenler Fon’dan yararlanamaz ve giriş ücretleri iade edilmez.<br />
                    <strong>c-</strong> Yeni doğan bebek, anne ve babasının üyeliği geçerliyse doğum tarihinden sonra ilk 30 gün doğal üye sayılır. Bu süre içerisinde giriş ücreti ödenerek dosyaya eklenirse bekleme süresi uygulanmaz.<br />
                    <strong>d-</strong> Kaza ölümlerinde fondan yararlanmak için bekleme süresi aranmaz.<br />
                    <strong>e-</strong> Ölü doğan bebekler için Türkiye’ye gönderilme izni alındığı takdirde gönderilir, gönderilemezse Fransa’da defin işlemi Madde 6’ya göre yapılır.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 4: Vefat Halinde Cenaze Sahiplerinin Yapacağı İşler<br />
                    </strong>Cenaze ile ilgili işlemleri sadece DİTİB’in görevlendireceği firma yapar. Cenaze yakınları DİTİB’in bilgisi dışında her hangi bir firmayı görevlendirirlerse maddi ve manevi bir sorumluluk kabul edilmez ve ödeme yapılmaz. Öncelikle DİTİB’e haber verilmeli ve resmi işlemler için şu belgeler hazırlanmalıdır; vefat edenin, pasaportu, oturum kartı, nüfus cüzdanı, uluslararası evlilik cüzdanı ve ölüm raporu.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 5: Vefat Halinde Fon’un Yapacağı İsler<br />
                        a-
                    </strong> T.C. Başkonsolosluğu ve Fransız makamları nezdinde cenaze nakil işlemlerini tamamlamak.<br />
                    <strong>b-</strong> Cenazeyi uluslararası standart bir tabuta yerleştirerek, Türkiye’de defnedileceği yere en yakın havalimanına, oradan da Türkiye Diyanet Vakfı’nın ambulans veya cenaze arabaları ile defnedileceği yere nakletmektir.<br />
                    <strong>c-</strong> Cenaze‘ye refakat edecek olan 2 kişinin gidiş-dönüş, ekonomik sınıf uçak bileti masrafını belirtilen firma tarafından karşılamak. (4 ayını doldurmadan<br />
                    vefat eden veya ölü doğan bebekler için refakatçi bilet ücretleri ödenmez.)<br />
                    <strong>d-</strong> Resmi makamlardan, tatil ve bayram günlerinden, havayolu şirketlerinden kaynaklanabilecek gecikme ve aksaklıklardan Fon sorumlu değildir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 6: Fransa’da Defnedilecekler İçin Yapılacaklar<br />
                    </strong>Fransa’da defnedilecek cenaze için Fon’un yetkili kıldığı şirket T.C. Başkonsolosluğu ve Fransız makamları nezdinde cenaze nakli işlemlerini yapar, cenazeyi standart bir tabuta yerleştirerek defnedileceği yere götürür. Bu masraflar DİTİB tarafından karşılanır. Mezar yeri ücreti ve diğer harcamalar cenaze yakınları tarafından ödenir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 7: Ödeme Yükümlülüğü<br />
                        a-
                    </strong> Bir takvim yılında yapılan masraflar üye sayısına bölünerek bir kişiye düşen masraf payı bulunur. Bu rakam ailedeki kişi sayısıyla çarpılarak ailenin ödeyeceği yıllık masraf payı bulunur ve takip eden yılın başlarında aile reisine yazılı olarak bildirilir.<br />
                    <strong>b-</strong> Bekleme süresini tamamlayıp Fon’dan yararlanma hakkını yılın sonlarına doğru kazanan üyelerimiz de o yıla ait masraf payını ödemekle yükümlüdür.<br />
                    <strong>c-</strong> Mektuplar normal posta tarifesiyle gönderilir. Çeşitli sebeplerle kendisine yıllık masraf payını bildiren mektup ulaşmayan üyeler DİTİB’i arayarak bilgi almakla yükümlüdürler.<br />
                    <strong>d-</strong> Aile reisi yıllık masraf payını belirtilen tarihe kadar ödemekle yükümlüdür. Zamanında ödenmezse gecikme farkı talep edilir. Masraf payını ödemeyenlere bir uyarı yazısı gönderilir. Uyarı tarihini takip eden 30 gün içerisinde masraf payını gecikme farkıyla birlikte ödemeyenlerin üyelikleri iki ay süreyle askıya alınır ve artık Fon’dan yararlanamazlar.<br />
                    <strong>e-</strong> Üyeliği askıya alınanlar borçlarını öderlerse ödeme tarihinden 2 ay sonra üyelikleri yeniden geçerli hale getirilir. Askı süresi içerisinde de ödemezlerse üyelikleri tamamen silinir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 8: Fransa Dışında Vefat Eden Üyelerimizin Durumu<br />
                        a-
                    </strong> Türkiye’de vefat eden üyemizin yakınları cenazeyi kendi imkânlarıyla defnederler. Ölüm raporu bir dilekçeyle birlikte Fon’a ulaştırılırsa Fon’a kayıtlı olmak şartıyla eşine, eşi yoksa cenaze ile ilgilenen çocuklarına veya diğer bir yakınına 700€ ödenir.<br />
                    <strong>b-</strong> Almanya, Belçika, Hollanda, Avusturya ve İsviçre’de vefat eden üyemizin cenazesi DİTİB’in o ülkelerde yetkili kıldığı firma aracılığıyla nakledilir.<br />
                    <strong>c-</strong> Firmalarımızın ulaşamadığı durumlarda veya ülkelerde vefat eden üyemizin yakınları cenazeyi kendileri nakleder. Cenaze nakli ile ilgili harcamaların faturaları, refakatçi biletleri ve ölüm raporu bir dilekçeyle birlikte Fon’a ulaştırılırsa 3.500 €’ya kadar (a) maddesindeki esaslara göre ödeme yapılır.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 9: Fon’dan Ayrılma veya Çıkarılma<br />
                        a-
                    </strong> Üyeler yazılı bir dilekçeyle Fon’dan ayrılabilirler.<br />
                    <strong>b-</strong> Üyelik için gereken şartlardan birini kaybeden veya bu şartları taşımadığı sonradan anlaşılanlar,&nbsp;DİTİB için zararlı faaliyette bulunanlar, belgelerde tahrifat yapanlar ve borçlarını askı süresi içerisinde de ödemeyenler üyelikten çıkarılırlar.<br />
                    <strong>c-</strong> Üyelikten kendi isteğiyle çıkan veya&nbsp;DİTİB tarafından çıkarılanlar Fon’dan yararlanma hakkını kaybederler. Önceden ödedikleri giriş ücretleri ve masraf payları iade edilmez.<br />
                    <strong>d-</strong>&nbsp;DİTİB Cenaze Nakli Yardımlaşma Fonu’na kaydolmak için yapılan başvuruları kabul edip etmeme veya bir üyeliği sona erdirme hakkında sahiptir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 10: Bilgi Verme Yükümlülüğü<br />
                    </strong>Üyeler; adres, telefon ve diğer bilgilerindeki değişiklikleri gecikmede Fon’a bildirmekle yükümlüdürler; iletişimsizlikten kaynaklanan aksaklıklardan Fon sorumlu değildir.
                </p>
                <p style="text-align: justify;">
                    <strong>
                        Madde 11: Yürütme Yetkisi<br />
                        a-
                    </strong> Bu yönerge 01.03.2006 tarihinde geçerli olmak üzere Strasbourg&nbsp;DİTİB Yönetim Kurulu tarafından onaylanmıştır. Gerektiğinde değişiklik yapmaya ve bu yönergede belirtilmeyen diğer ayrıntılarda karar vermeye Yönetim Kurulu yetkilidir.<br />
                    <strong>b-</strong> Başvuru Formunu imzalayanlar bu yönergeyi aynen kabul etmiş sayılacağından öncelikle yönerge iyice anlaşılmalıdır. Anlaşmazlıklar bu yönergeye göre çözülür, gerektiğinde Strasbourg Mahkemeleri yetkilidir.
                </p>
                <p style="text-align: justify;">
                    Tüm üyelerimize sağlıklı uzun ömürler dileriz<br />
                    Strasbourg&nbsp;DİTİB Yönetim Kurulu
                </p>
                <br />

            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->
