
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">BİLİNMESİ GEREKEN HUSUSLAR</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />
                <h4>Genel Durum</h4>
                <p>Fransa’da yaşayan Türkiye Cumhuriyeti vatandaşı vatandaşlarımızın vefatı halinde, aile yakınları genelde cenazelerinin Türkiye’ye naklini tercih etmektedirler.</p>
                <p>Fransa’da kurulan Cenaze Yardımlaşma Fonlarından çoğunluğa hitab eden DİTİB-Cenaze Fonu; Fransa’daki vatandaşlarımızın vefatları halinde Türk ve Fransız makamlarındaki formalitelerin tamamlanması, defin için gerekli dini vecibelerin yerine getirilmesi (cenazenin yıkanması ve kefenlenmesi) sonra memleketlerine götürülmesindeki zorluklar ve bunları yapabilen uzman Türk Firmalarının azlığı sebebiyle, Diyanet İşleri Türk İslam Birliği’nin organizesinde 1996 yılının kurulmuş ve bugün için DİTİB-Cenaze Fonu adı altında hizmetlerine devam etmektedir.</p>
                <p>Cenaze Fonu, o kişinin Türk ve Fransız makamlarındaki formalitelerinin tamamlanlası, yıkanması, kefenlenmesi, cenaze namazının kılınması, tabutlanması, Türkiye’deki bir havalimanına uçak ile nakli, oradan da defin edileceği yere kadar Diyanet Vakfının ambulans ve araçları ile taşınması, ayrıca cenazenin yanında giden iki yakınının uçak biletinin karşılanması gibi hizmetleri üstlenmektedir.</p>
                <br />
                <h4>Ölüm Anında Yapılması Gerekenler</h4>
                <p>Ölümün meydana geldiği yere göre yapılması gereken ilk işlemler farklılık göstermektedir.</p>
                <p>
                    a) Evde meydana gelen ölümler: <br />
                    Evde meydana gelen ölümlerde « Ölüm tesbit raporu » düzenlenmesi için mümkünse vefat edenin kendi aile doktoruna, bu mümkün değilse nöbetçi doktora haber verilmesi gerekir.
                </p>
                <p>Cenaze Fonu, o kişinin Türk ve Fransız makamlarındaki formalitelerinin tamamlanlası, yıkanması, kefenlenmesi, cenaze namazının kılınması, tabutlanması, Türkiye’deki bir havalimanına uçak ile nakli, oradan da defin edileceği yere kadar Diyanet Vakfının ambulans ve araçları ile taşınması, ayrıca cenazenin yanında giden iki yakınının uçak biletinin karşılanması gibi hizmetleri üstlenmektedir.</p>
                <p>
                    b) Hastanede meydana gelen ölümler: <br />
                    Hastanelerde meydana gelen ölümlerde hastane tarafından hazırlanan « Ölüm tesbit raporu » alınarak işlemlere başlanır.
                </p>
                <p>
                    c) Huzurevi, bakımevi vb. yerlerde meydana gelen ölümler:<br />
                    Huzurevi, bakımevi gibi yerlerde meydana gelen ölümlerde « Ölüm tesbit raporu » varsa doktor tarafından yoksa çağırılacak nöbetçi doktor tarafından verilir.
                </p>
                <p>
                    d) Yolda, sokakta meydana gelen ölümler:<br />
                    Ev ve hastane dışında meydana gelen ölümlerde genelde cenazeye savcılıkça el konur, ve cenaze incelemeye alınır.
                </p>
                <p>
                    e) Trafik kazası, intahar, cinayet vb. adli ölüm olarak sınıflandırılan ölümler:<br />
                    Bu tür ölümlerde yine savcılık tarafından cenazeye el konularak Adli Tıp Kurumuna sevk edilir.
                </p>
                <br />
                <h4>İşlemler İçin Gerekli Evraklar</h4>
                <p>a) Vefat edenin pasaportu,</p>
                <p>b) Vefat edenin nüfus cüzdanı,</p>
                <p>c) Vefat eden evli ise, uluslararası evlenme cüzdanı, evlenme cüzdanı uluslararası değil ise, Fransızca tercümesi,</p>
                <p>d) Vefat evde vuku buldu ise ev doktoru veya nöbetçi doktor tarafından düzenlenen ölüm raporu.</p>

                <br />
                <h4>Alman Makamlarında ve Belediyelerdeki İşlemler</h4>
                <p>Hastane vb. yerlerde vefat eden kişinin cenazesi, görevlendirilen cenaze firmasınca « Ölüm tesbit raporu » ile birlikte teslim alınır.</p>
                <p>Ev veya hastanede meydana gelen ölümlerde Doktor muayenesi sonucu « Şüpheli Ölüm » tesbiti yapılan, trafik kazası , cinayet vb. Adli olaylarla, ev-hastane dışında meydana gelen şüpheli ölümlerde cenazeye savcılık tarafından el konulur. Bu durumda Adli Tıp yoluyla otopsi vb. şekilde incelenmesi tamamlanan cenaze için verilecek olan « Serbestlik Belgesi » olmadan, görevli nakil firması cenazeyi teslim alamaz ve işlemlere de başlayamaz.</p>
                <p>Görevlendirilen firma tarafından teslim alınan Cenaze için Kamu Düzeni Dairesi’nden cenaze Fransa’da defnedilecek ise « Defin İzni », Türkiye’ye nakledilerek Türkiye’de defnedilecek ise Türkiye’ye götürlen cenazelerin sınırdan girişi ve çıkartılması sırasında cenazenin taşınmasına izin verildiğini ve taşınmasında sağlık yönünden sakınca bulunmadığını belgelemek amacıyla Kamu Düzeni Dairesi’nden « Ölü Nakil Belgesi » talep edilir.</p>

                <br />
                <h4>T.C. Başkonsolosluklarında Yaılması Gereken İş ve İşlemler</h4>
                <p>Vefat eden kişinin cenazesi, ölümün vuku bulduğu Fransa’da defnedilecek ise, 1587 sayılı Nüfus Kanunun 41.maddesi uyarınca, vefat eden Türk vatandaşının ölümünün yakınları tarafından otuz gün içerisinde kayıtlı bulunduğu nüfus müdürlüğüne bildirilmesi gerekmektedir. Aynı kanunun 169. maddesi uyarınca, yurt dışında vefat eden Türk vatandaşlarının ölüm olayları, ilgili yerel makamlardan alınan belgelerin Türk Konsolosluklarına verilmesi suretiyle bildirilir. İşlem kişisel başvuru veya posta ile yapılabilir.</p>
                <p>Fransa’da defnedilecek cenazelerin bildirilmesi için gerekli belgeler:</p>
                <p>
                    a) Ölümün tescilini isteyen, ölenin yakınınca yazılmış form dilekçe,<br />
                    b) Dilekçeyi yazanın nüfus cüzdanı fotokopisi,<br />
                    c) « Ölüm tesbit raporu » veya « Serbestlik Belgesi »,<br />
                    d) Vefat edenin pasaportu,<br />
                    e) Vefat edenin nüfus cüzdanı.
                </p>
                <p>Vefat eden kişinin cenazesi, ölümün vuku bulduğu Fransa’dan Türkiye’ye veya herhangi bir başka ülkeye nakledilecek ise Türk Konsolosluğundan cenazenin naklinde, toprakları üzerinden geçeceği bütün Devletlerin, serbest geçiş müsaadesi verilmesini belirten « Müruriye » alınır. Müruriye’nin alınması ile, 1587 sayılı Nüfus Kanunun 41.maddesi uyarınca, vefat eden Türk vatandaşının ölümünün yakınları tarafından otuz gün içerisinde kayıtlı bulunduğu nüfus müdürlüğüne bildirilmesi şartı gerçekleştirilmiş olur.</p>
                <p>Türkiye’ye nakledilecek cenazeler için gerekli belgeler:</p>
                <p>
                    a) « Ölüm tesbit raporu » veya « Serbestlik Belgesi »,<br />
                    b) Kamu Düzeni Dairesi’nden alınan « Ölü Nakil Belgesi »,<br />
                    c) Vefat edenin pasaportu,<br />
                    d) Vefat edenin nüfus cüzdanı,<br />
                    e) Vefat eden evli ise, uluslararası evlenme cüzdanı, evlenme cüzdanı uluslararası değil ise, Fransızca tercümesi;<br />
                    f) Vefat evde vuku buldu ise ev doktoru veya nöbetçi doktor tarafından düzenlenen ölüm raporu.<br />
                    g) Uçak nakli ile ilgili bilgi,<br />
                    h) Türkiye’de defnedileceği mezarlık ismi ve adresi.
                </p>
                <br />

                <h4>Fransadaki Dini İşlemler</h4>
                <p>Cenazenin Fransız makamlarındaki formalitelerinin görevli firma tarafından tamamlanmasından sonra; cenaze sahiplerinin isteği doğrulstusunda cenaze en yakın gasilhanede İslami usul ve kaidelere göre yıkanarak kefenlenir. Cenaze kefenledikten sonra nakil için kullanılan uluslararası satandart tabuta konularak cenaze yakınlarının arzusu halinde en yakın camide namazı kılınır.</p>
                <br />

                <h4>Cenazenin Türkiye’ye Nakli</h4>
                <p>Gerek Fransız makamlarında gerekse Başkonsolosluktaki resmi işlemleri ile dini işlemleri tamamlanan cenazenin vefat ettiği yere en yakın havaalanından, defin edileceği yere en yakın havalimanına uygun uçuş programı hazırlanır. Tabut Kargo Şirketi aracılığı ile uçakta yük olarak yüklenir ve AWB-Nr. olarak adlandırılan kargo numarası kaydı yapılır. Cenaze havalimanın Kargo bölümüne götürülerek tartılır ve teslim edilir. Gümrük işlemleri yapılarak alıcı ismi de belirtilerek ilgili uçak şirketine evraklar teslim edilir.</p>
                <p>Vefat eden kişi cenaze fonuna üye ise, indiği havalimanından Fonun Anlaşmalı olarak çalıştığı firma tarafından karşılanarak, cenaze sahiplerinin daha önceden bildirdikleri adrese teslim edilir.</p>
                <p>Vefat eden kişi, herhangi bir cenaze fonuna üye değil ise , cenaze yakınları tarafından bizzat ilgili havalimanında teslim alınır.</p>
                <p>Cenazelerin nakli 10.02.1937 tarihinde imzalanarak yürürülüğe giren « Berlin Sözleşmesi » olarak bilinen « Uluslararası Nakliyat Sözleşmesi’nin (Bundesgesetzblatt 1938 II sayfa 199) » ve 26.10.1973 de yürürlüğe giren Avrupa Cenaze Nakliyat Anlaşması hükümlerine göre gerçekleştirilir.</p>
                <br />
            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->