
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">Gaye</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />

                <p>Cenaze Nakli Yardımlaşma Fonu’nun gayesi; Fransa’da ikamet eden, düzenli oturma müsaadesine sahip, Fon’un sunmuş olduğu hizmetlerden yararlanma hakkı olan üyelerinin cenazelerini kendi vasiyetleri veya kanuni yakınlarının isteği üzerine vefat ettiği yerden alıp, İslami ölçülere göre techiz ve tekfin işlemlerini gerçekleştirmek, vefat edenin resmi işlemlerini tamamladıktan sonra Fransa veya Türkiye’deki arzu edilen defin yerine kadar naklinin sağlanması için destek vermek ve bununla ilgili tüzüğün öngördüğü masrafları imkanlar dahilinde karşılamaktır.</p>


                <br /><br /><br /><br />

            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->
