
@{
    ViewBag.Title = "Ditib Strasbourg";
    Layout = "~/Views/Shared/strasbourg_layout.cshtml";
    ViewBag.Active = ViewContext.RouteData.Values["action"];
}

<br />

<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title" style="text-align: center;">Hizmetler</h1>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br />
                <p>Hizmetlerden yararlanma hakkına sahip bir vefatın, bildirilmesi halinde Dernek, cenazenin iş ve işlemlerinin yapılması için bir cenaze nakil firmasını görevlendirir.</p>
                <p>Fransız Nüfus Dairesi’ndeki ve Türkiye Cumhuriyeti Başkonsoloslukları’ndaki resmi işlemlerin tamamlanması, İslami usullere uygun şekilde, ehil kişiler tarafından yıkanması, kefenlenmesi ve uluslararası standartlara uygun bir taputa yerleştirilmesi, nizami şekilde muhafaza edilmesi, mümkün olan en kısa zamanda defnedileceği yere naklinin gerçekleştirilmesinin sağlanması.</p>
                <p>Nakil esnasında yardımcı olması için, cenazenin en yakın akrabalarından iki kişinin gidiş-dönüş refakatcı uçak bilet ücretinin karşılanması.</p>
                <br /><br /><br />

            </div>

        </div>


    </div> <!-- end post content -->


</div> <!-- end main container -->
