@using Strasbourg.Domain.Enums
@model Strasbourg.Domain.ViewModels.EmailTemplatesViewModel
@{
    ViewBag.Title = "Panel | Ditib Strasbourg";
    Layout = "~/Areas/Login/Views/Shared/panel_layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">

            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("EmailTemplateSave", "Email", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {

                        <h3>Email Şablonu Detayı</h3>

                        <div class="row">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.Id)
                            </div>
                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 100px !important;">
                                            Dil
                                        </button>
                                    </span>
                                    @Html.DropDownListFor(x => x.SiteLanguage,
                   new SelectList(Enum.GetValues(typeof(SiteLanguages))),
                   "Dil Seçiniz", new { @class = "form-control", id = "SiteLanguage", @required = "required" })


                                </div>
                            </div>

                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 100px !important;">
                                            Konu
                                        </button>
                                    </span>
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", id = "Title", @required = "required" })

                                </div>
                            </div>
                            <div class="col col-lg-12">
                                <div class="input-group mt-3">
                                    <span class="input-group-append">
                                        <button type="button"
                                                class="btn waves-effect waves-light btn-primary" style="width: 100px !important;">
                                            Mesaj
                                        </button>
                                    </span>
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", id = "Content", @required = "required", rows = "30" })


                                </div>
                            </div>
                        </div>

    
                        <br />
                     
                            <button type="submit" class="btn btn-success waves-effect width-md waves-light">Kaydet</button>
     
                    }
                </div>




            </div>


        </div>

    </div>
</div>

